body{
    background-color: rgb(151, 112, 60);
    font-size: 3rem;
}
.btn-clique{
    padding: 10px 50px;
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.btn-clique:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}
div:hover{
    zoom: 1.2;
}




/*
div{
    background-color: rgb(44, 44, 166);
}
ul{
    color: rgb(182, 11, 11);
}
div, ul p{
    border: 3px solid white;
}*/